# ==============================
# Vivado Files
# ==============================
*.jou
*.log
*.str
*.cache
*.hw
*.runs
*.sim
*.ip_user_files

# ==============================
# Simulation Waveforms
# ==============================
*.wdb
*.vcd

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
